.btn {
    background-color: var(--main-bg); border-radius: 32px; border: none;
    
    &:is(:hover,:active,:focus):not(:disabled) {background-color: var(--accent); color: var(--color);}
    &:is(:hover,:active,:focus):not(:disabled) svg {fill: var(--color);}
    &:focus-visible {outline: 4px solid var(--main-color); outline-offset: 0;}
    &:disabled {filter: grayscale(1);}

    &.btn__small {display: grid; place-content: center; width: 48px; height: 48px;}
    &.btn__large {display: flex; gap: 8px; align-items: center; width: fit-content; height: 48px; padding: 16px 32px;}
}

.btn__icon {
    display: grid; place-content: center; height: 48px; width: 48px; background-color: transparent; border: none; border-radius: 50%;

    &:focus-within {outline: 2px solid gold; outline-offset: 0;}

    &.star:is(:hover,:active,:focus) {background-color: #ffd70020;}
    &.star:is(:hover,:active,:focus) svg {fill: gold;}
}

#skip__navegation {
    position: absolute;
    top: -1000px;

    &:is(:active,:focus,:focus-visible) {
        position: unset;
    }
}
