a {

    &:is(:link,:visited) {
        text-decoration: none; color: var(--link);
    }
    &:is(:hover,:active,:focus) {
        text-decoration: underline;
    }
    &:focus-visible {
        outline: var(--size-xtiny) solid var(--color); outline-offset: var(--size-xtiny); border-radius: var(--size-tiny);
    }
}
