/* Elements */
::-webkit-scrollbar {width:8px; height:8px;} 
::-webkit-scrollbar-track {background: var(--bg);} 
::-webkit-scrollbar-thumb {background: #C5C5C5; border-radius:10px;} 
::selection {background-color: var(--accent); color: var(--bg);}
.flex {display: flex; gap: 16px;} .grid {display: grid; gap: 16px;}
.icons {position: absolute; visibility: hidden;}

/* TABLES */
table {display: flex; flex-flow: column nowrap; border-radius: 16px; border: 1px var(--border); border-collapse: collapse; overflow: hidden;}
caption {display: flex; justify-content: space-between; font-weight: bold; text-transform: uppercase;}
caption,th,td {padding: 16px;}
caption,thead th {background-color: var(--bg);}
tr {display: flex; flex-flow: row wrap;}
tr:nth-child(odd) {background-color: var(--main-bg);}
tr:nth-child(even) {background-color: var(--bg);}
td:first-child {font-weight: bold;}
td {flex: 1;}

/* LISTS */
.list__inline {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    min-height: 58px;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    display: flex;
    flex-flow: column-reverse;
    margin: 0;
    background-image: var(--primary-gradient);
}

/** Header */
.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--transparent-bg);
    backdrop-filter: blur(4px);
    border: 1px var(--border);
    z-index: 1;
}
.header:focus-within .navegator__link {
    border: 1px var(--border);
}
.header:focus-within:has(:focus-visible) {
    padding: 8px 0;
}
.title {
    font-weight: bold;
    color: var(--accent);
}
.navegator {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.navegator__link {
    border-radius: 0;
    &:not(:last-child) {border-width: 0 1px 0 1px;}
    &:last-child {border-width: 0 1px 0 0;}
}
:is(.navegator__link,.social__link) {
    place-content: center;
    min-width: 48px;
    
    &.btn__large {padding: 0;}
    &.btn__large:is(:active,:focus,:focus-visible) {padding: 8px 16px; z-index: 1;}
    &:is(:hover,:active,:focus-visible) {text-decoration: none;}
    &:is(:active,:focus,:focus-visible) :is(.navegator__span,.social__span) {display: block;}
}
:is(.navegator__span,.social__span) {
    display: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** MODULES */
.module {
    min-height: 100vh;
    padding: 32px;
    background-image: var(--secundary-gradient);
    border: 1px var(--border);
    gap: var(--gap);
}

/** HOME */
.home {
    display: grid;
    align-content: space-between;
    grid-template-areas: "profile" "stats" "skills" "links";
}

/** PROFILE */
.profile {
    display: grid;
    grid-template-areas: "presentation" "logo";
    gap: var(--gap);
}
.profile__item:has(.profile__img) {
    grid-area: logo;
    display: grid;
    place-content: center;
}
.profile__img {
    display: block;
    width: 100%;
    height: auto;
}
.profile__paragraph {
    white-space: pre-line;
    line-height: 28px;
    margin: 0 0 1em 0;
}

/** STATS */
.stats {
    grid-area: stats;
    display: flex;
    flex-flow: column;
    gap: var(--gap);
}

/** SOCIAL */
.social {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}
.social__link, .navegator__link{
    position: relative;

    &:hover:before {
        content: attr(aria-label);
        position: absolute;
        bottom: calc( 48px + 16px );
        display: flex;
        padding: 16px;
        background-image: var(--primary-gradient);
        border-radius: 8px;
        border: 1px var(--border);
        text-transform: capitalize;
        font-weight: bold;
    }
    &:hover:after {
        content: '';
        position: absolute;
        bottom: calc( 48px + 8px );
        display: flex;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px var(--border);
    }
}

/** SKILLS */
.skills__item {
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.skills__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent);
}
.skills__list .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-width: 56px;
    padding: 16px;
    background-color: var(--bg);
    border-radius: 8px;
    border: 1px var(--border);
    font-weight: bold;
}
.list__span {
    font-weight: bold;
}
.hidden {
    display: none;
}

/* input:autofill,textarea:autofill{background-color: var(--main-bg);} */
/** CONTACT */
input[type="radio"],input[type="checkbox"] {
    appearance: none;
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px var(--border);

    &:checked {
        background-color: var(--accent);
        border: 1px var(--border);
    }
    &:focus-visible {outline: 4px solid var(--main-color); outline-offset: 0;}
}

input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--main-bg);
    border-radius: 8px;
    border: 1px var(--border);

    &:focus-visible {outline: 4px solid var(--main-color); outline-offset: 0;}
    &:placeholder-shown {color: var(--accent);}
    &:not(:placeholder-shown):focus {
        &:invalid {outline: 4px solid red;} 
        &:valid {outline: 4px solid green;}
    }
    &::placeholder {color: var(--accent); font-weight: bold;}
} 
:is(textarea,input,select):autofill {
    border: 1px var(--border);
    -webkit-text-fill-color: var(--main-color);
    box-shadow: 0 0 0 100px var(--bg) inset;
}
textarea {resize: none;}

.contact__form {
    display: flex; flex-direction: column; gap: 16px;
}
.contact__item {
    display: flex; flex-direction: column; gap: 8px; flex: 1;

    &.inline {flex-flow: row wrap; align-items: center;}
}
.contact__item label {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}



/** Online/Offline */
.backOnline {
    overflow: auto;
}
#isOnOff.isOnOff {
    display: none;
}
#isOnOff {
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    background-color: var(--transparent-bg);
    backdrop-filter: blur(4px);
    visibility: hidden;
    opacity: 0;
    animation: visibility 3s ease;
}
.isOnOff__content {
    padding: 32px;
    background-color: var(--bg);
    border-radius: 16px;
    border: 1px var(--border);
}

@keyframes visibility {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

/** PC */
@media (min-width: 1000px) {
    body {
        display: grid;
        place-content: center;
        grid-template-areas:"header" "main";
        min-height: 100vh;
    }
    .header {
        position: unset;
        width: 80vw;
        background-color: initial;
        border: none;
    }
    .header:focus-within:has(:focus-visible) {
        padding: 0;
    }
    .navegator {
        justify-content: flex-end;
    }
    .navegator__link.btn {
        border-width: 1px 1px 0 1px;
        border-radius: 8px 8px 0 0;
    }
    .navegator__link {
        &:hover:before {top: calc( 48px + 16px ); bottom: initial;}
        &:hover:after {
            top: calc( 48px + 8px ); bottom: initial;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 0;
            border-bottom: 8px var(--border);
        }
    }
    #skip__navegation {
        top: -1000px;
    }
    .module {
        width: 80vw;
        min-height: 80vh;
        margin: 0 auto;
        padding: 64px;
        border-radius: 16px 0 16px 16px;
    }
    .home {
        grid-template-areas: "profile stats" "skills stats";
        grid-template-columns: calc(80% - 16px) calc(20% - 16px);
    }
    .profile {
        gap: 0 var(--gap);
        grid-template-areas: "logo presentation" "logo links";
        grid-template-columns: 250px 1fr;
    }
}