/* Elements */
::-webkit-scrollbar {width:var(--size-tiny); height:var(--size-tiny);} 
::-webkit-scrollbar-track {background: var(--bg);} 
::-webkit-scrollbar-thumb {background: #C5C5C5; border-radius: var(--size-tiny);} 
::selection {background-color: var(--accent); color: var(--bg);}

/* TABLES */
table {display: flex; flex-flow: column nowrap; border-radius: var(--size-smaller); border: .1em var(--border); border-collapse: collapse; overflow: hidden;}
caption {display: flex; justify-content: space-between; align-items: center; font-weight: bold; text-transform: uppercase; text-align: left;}
caption,th,td {padding: var(--size-smaller);}
caption,thead th {background-color: var(--bg);}
tr {display: flex; flex-flow: row wrap;}
tr:nth-child(odd) {background-color: var(--main-bg);}
tr:nth-child(even) {background-color: var(--bg);}
td:first-child {font-weight: bold;}
td {flex: 1;}

.flex {display: flex; gap: var(--size-smaller);}
.grid {display: grid; gap: var(--size-smaller);}
.icons {position: absolute; visibility: hidden;}

/* LISTS */
.list__inline {
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-smaller);
    min-height: 3.5em;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    display: flex;
    flex-flow: column-reverse;
    margin: 0;
    background-image: var(--primary-gradient);
}

/** Header */
.header {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--bg);
    border: .1em var(--border);
    z-index: 1;

    &:focus-within .navegator__link { border: .1em var(--border); }
    &:focus-within:has(:focus-visible) { padding: var(--size-tiny) 0; }
}
.navegator {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.navegator__link {
    border-radius: 0;
    &:not(:last-child) {border-width: 0 .1em 0 .1em;}
    &:last-child {border-width: 0 .1em 0 0;}
}
:is(.navegator__link,.social__link) {
    place-content: center;
    min-width: var(--size-medium);
    
    &.btn__large {padding: 0;}
    &.btn__large:is(:active,:focus,:focus-visible) {padding: var(--size-tiny) var(--size-smaller); z-index: 1;}
    &:is(:hover,:active,:focus-visible) {text-decoration: none;}
    &:is(:active,:focus,:focus-visible) :is(.navegator__span,.social__span) {display: block;}
}
:is(.navegator__span,.social__span) {
    display: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** MAIN */
#main {
    min-height: 80vh;
    background-image: var(--secundary-gradient);
    border: .1em var(--border);
}

/** MODULES */
.module {
    min-height: 100vh;
    padding: var(--size-small);
    background-image: var(--secundary-gradient);
    gap: var(--size-large);
}

/** HOME */
.home {
    display: grid;
    align-content: space-between;
    grid-template-areas: "profile" "stats" "skills" "links";
}

/** PROFILE */
.profile {
    display: grid;
    grid-template-areas: "presentation" "logo";
    gap: var(--size-large);
}
.profile__item:has(.profile__img) {
    grid-area: logo;
    display: grid;
    place-content: center;
}
.profile__img {
    display: block;
    width: 100%;
    height: auto;
}
.profile__paragraph {
    white-space: pre-line;
    line-height: 1.5em;
    margin: 0 0 1em 0;
}

/** STATS */
.stats {
    grid-area: stats;
    display: flex;
    flex-flow: column;
    gap: var(--size-large);
}

/** SOCIAL */
.social {
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-tiny);
}
.social__link, .navegator__link{
    position: relative;

    &:hover:before {
        content: attr(aria-label);
        position: absolute;
        bottom: calc( var(--size-medium) + var(--size-smaller) );
        display: flex;
        padding: var(--size-smaller);
        background-image: var(--primary-gradient);
        border-radius: var(--size-tiny);
        border: .1em var(--border);
        text-transform: capitalize;
        font-weight: bold;
    }
    &:hover:after {
        content: '';
        position: absolute;
        bottom: calc( var(--size-medium) + var(--size-tiny) );
        display: flex;
        width: 0;
        height: 0;
        border-left: var(--size-tiny) solid transparent;
        border-right: var(--size-tiny) solid transparent;
        border-top: var(--size-tiny) var(--border);
    }
}

/** SKILLS */
.skills__item {
    display: flex;
    flex-flow: column;
    gap: var(--size-tiny);
}
.skills__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent);
}
.skills__list .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-tiny);
    min-width: 3.5em;
    padding: var(--size-smaller);
    background-color: var(--bg);
    border-radius: var(--size-tiny);
    border: .1em var(--border);
    font-weight: bold;
}
.list__span {
    font-weight: bold;
}
.hidden {
    display: none;
}

/* input:autofill,textarea:autofill{background-color: var(--main-bg);} */
/** CONTACT */
input[type="radio"],input[type="checkbox"] {
    appearance: none;
    display: grid;
    place-content: center;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    border: .1em var(--border);

    &:checked {
        background-color: var(--accent);
        border: .1em var(--border);
    }
    &:focus-visible {outline: 4px solid var(--main-color); outline-offset: 0;}
}

input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: var(--size-tiny) var(--size-tiny);
    background-color: var(--main-bg);
    border-radius: var(--size-tiny);
    border: .1em var(--border);

    &:focus-visible {outline: .25em solid var(--main-color); outline-offset: 0;}
    &:placeholder-shown {color: var(--accent);}
    &:not(:placeholder-shown):focus {
        &:invalid {outline: .25em solid red;} 
        &:valid {outline: .25em solid green;}
    }
    &::placeholder {color: var(--accent); font-weight: bold;}
} 
:is(textarea,input,select):autofill {
    border: .1em var(--border);
    -webkit-text-fill-color: var(--main-color);
    box-shadow: 0 0 0 100px var(--bg) inset;
}
textarea {resize: none;}

.contact__form {
    display: flex; flex-direction: column; gap: var(--size-smaller);
}
.contact__item {
    display: flex; flex-direction: column; gap: var(--size-tiny); flex: 1;

    &.inline {flex-flow: row wrap; align-items: center;}
}
.contact__item label {
    display: flex;
    gap: var(--size-tiny);
    align-items: center;
    justify-content: space-between;
}

/** 404 */
.not {display: grid; place-content: center; justify-items: center; gap: 0;}

/** Online/Offline */
#isOnOff {
    position: fixed;
    right: var(--size-small);
    bottom: calc( var(--size-medium) + var(--size-small) );
    opacity: 0;
    visibility: hidden;
}
.isOnOff {
    animation: fadeInOut 10s linear;
}
@keyframes fadeInOut {
    0%, 20% { opacity: 0; visibility: hidden; }
    25%, 75% { opacity: 1; visibility: visible; }
    80%, 100% { opacity: 0; visibility: hidden; }
}

/** PC */
@media (min-width: 1280px) {
    body {
        display: grid;
        place-content: center;
        grid-template-areas:"header" "main";
        min-height: 100vh;
        padding: var(--size-smaller);
    }
    .header {
        position: unset;
        width: 80vw;
        background-color: initial;
        border: none;

        &:focus-within:has(:focus-visible) {padding: 0;}
    }
    .navegator {
        justify-content: flex-end;
    }
    .navegator__link.btn {
        border-width: .1em .1em 0 .1em;
        border-radius: var(--size-tiny) var(--size-tiny) 0 0;
    }
    .navegator__link {
        &:hover:before {top: calc( var(--size-medium) + var(--size-smaller) ); bottom: initial;}
        &:hover:after {
            top: calc( var(--size-medium) + var(--size-tiny) ); bottom: initial;
            border-left: var(--size-tiny) solid transparent;
            border-right: var(--size-tiny) solid transparent;
            border-top: 0;
            border-bottom: var(--size-tiny) var(--border);
        }
    }
    #skip__navegation {
        top: -1000px;
    }
    .main {
        border-radius: var(--size-smaller) 0 var(--size-smaller) var(--size-smaller);
    }
    .module {
        width: 80vw;
        min-height: 80vh;
        margin: 0 auto;
        padding: var(--size-large);
        border-radius: var(--size-smaller) 0 var(--size-smaller) var(--size-smaller);
    }
    .home {
        grid-template-areas: "profile" "stats" "skills";
    }
    .profile {
        gap: 0 var(--size-large);
        grid-template-areas: "logo presentation" "logo links";
        grid-template-columns: 16em 1fr;
    }
    #isOnOff {
        bottom: var(--size-small);
    }
}
/** FULL HD 1920 - 55 (sidebar edge, opera) */
@media (min-width: 1865px) {
    .home {
        grid-template-areas: "profile stats" "skills stats";
        grid-template-columns: calc(80% - var(--size-smaller)) calc(20% - var(--size-smaller));
    }
}
/** 2K */
@media (min-width: 2560px) {
    * {font-size: 24px;}
}
/** 4K */
@media (min-width: 3840px) {
    * {font-size: 36px;}
}
/** 8K */
@media (min-width: 7680px) {
    * {font-size: 76px;}
}